# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so
*.idea
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/MCMC/output/
/MCMC/out/
/MCMC/err/
/ActiveLearning/output/active_learning_results/
*.pkl
/pdo_model/scripts/data/
/pdo_model/scripts/plot/
/MCMC/plot/
*.png